//
//  APIConfig.xcconfig
//  MoodAnalyzer
//
//  Created by Gabriel Soria Souza on 21/03/21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

MOOD_API = language.googleapis.com/v1beta2/documents:analyzeSentiment?key=
MOOD_API_KEY = AIzaSyCKtiqIHsgnSNR9Y-HJD-UeUMXCKNx3paA
TWITTER_API_KEY = j1PS5RUtrjxYja2wmsdwach6S
TWITTER_API_SECRET_KEY = X4oHV74gpK2fCDxOZj3sdmUiEo7zTjr8RJF1ccMNQpnzWfaiCW
BEARER_TOKEN = AAAAAAAAAAAAAAAAAAAAAH22NwEAAAAA%2BDobWA%2FY%2FJpg2TZQ8Gym%2F5wVfbk%3DgLZqNI9ynJAE11xfqr4WZoVXHRrqC8l7vZSDusO4tJKxM8nhTx
TWITTER_API_USER = api.twitter.com/2/users/by/username/
TWITTER_API_TWEETS = api.twitter.com/2/users/
